body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
font-family:Segoe UI;
}

.container{
text-align:center;
}

h1{
color:white;
margin-bottom:20px;
}

.calculator{
background:#1e1e2f;
padding:25px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,0.3);
width:320px;
}

#display{
height:70px;
background:black;
color:white;
font-size:28px;
display:flex;
align-items:center;
justify-content:flex-end;
padding:15px;
border-radius:10px;
margin-bottom:20px;
overflow:hidden;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

.btn{
height:55px;
font-size:20px;
border:none;
border-radius:12px;
cursor:pointer;
background:#2e2e44;
color:white;
transition:0.2s;
}

.btn:hover{
transform:scale(1.05);
background:#3e3e5c;
}

.operator{
background:#6c5ce7;
}

.equal{
background:#00b894;
}

.clear{
background:#d63031;
}